<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Matakuliah</title>
</head>
<body>
    <center>
        <h1>Form Data Matakuliah</h1>
        <form action="/matakuliah/addMatakuliah" method="POST">
            <label for="name">Nama Matakuliah:</label>
            <input type="text" name="namaMatkul" placeholder="e.g: kimia, bahsa inggris"><br><br>
            <label for="sks">SKS :</label>
            <input type="text" name="sks" placeholder="e.g: 1,2,3"><br><br>
            
            <input type="submit" value="Save">
        </form>
    </center>
</body>
</html>