<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kartu Rencana Studi </title>
</head>
<body>
    <nav>
        <li><a href="/mahasiswa">Mahasiswa</a></li>
        <li><a href="/mataKuliah">Mata Kuliah</a></li>
    </nav>
</body>
</html>